body {
    background-color: #F6F5FA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

input {
    width: 300px;
    height: 25px;
    font-size: 90%;
    border: 1px #E4E2F0 solid;
    border-radius: 5px;
}

select {
    margin-top: 0px;
    height: 30px;
    width: 300px;
    border: 1px #E4E2F0 solid;
    border-radius: 5px;
    background-color:  #FFFFFF;
    font-size: 90%;
}

button {
    margin-top: 20px;
    height: 40px;
    width: 150px;
    border: 1px #E4E2F0 solid;
    border-radius: 10px;
    background-color:  #FFFFFF;
}