body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    flex-direction: column;
    min-height: 80vh;
    background-color: #F6F5FA;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

input {
    width: 300px;
    height: 25px;
    font-size: 90%;
    border: 1px #E4E2F0 solid;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    height: 40px;
    width: 100px;
    border: 1px #E4E2F0 solid;
    border-radius: 10px;
    background-color:  #FFFFFF;
}