body {
    background-color: #F6F5FA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#products div {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    border-bottom: 1px #9b9b9b solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 2px #E4E2F0 solid;
    border-radius: 15px;
    margin-bottom: 20px;
}
